/* *********************
    Estilos Generales
***********************/
body {
    background: #e9ebee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: #1177b6;
}

a:hover {
    text-decoration: underline;
}

/* ********************************
       ESTILOS PARA EL  HEADER
**********************************/
header {
    background: #1176b6;
    padding: 10px 0;
}

/* ********************************
       ESTILOS PARA EL  LOGO
**********************************/
header .logo img {
    height: 22px;
}

/* ********************************
       ESTILOS PARA EL FORM DE BUSQUEDA
**********************************/
header .buscar form input[type="text"] {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px 0 0 3px;
    color: #6d6d6d;
    font-family: 'Open Sans', sans-serif;
}

header .buscar form button {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: #6d6d6d;
}

header .buscar form button:hover {
    background: #099efc;
    color: #fff;
}

/* ********************************
       ESTILOS PARA EL MENU
**********************************/
header .menu {
    padding: 0;
}

header .menu a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}

header .menu a:hover {
    color: #fff;
}

/* ************************************
       ESTILOS PARA LA FOTO DE PERFIL
**************************************/
header .menu .imagen-perfil {
    display: inline-block;
    width: 22px;
    height: 22px;
}

header .menu .imagen-perfil img {
    border-radius: 100px;
}
/* ********************
        MAIN
***********************/
main{
    padding-top: 20px;
}


/* ************************************
    ESTILOS PARA LA BARRA LATERAL IZQ
**************************************/
main .barra-lateral-izq {
    padding-bottom: 10px;
    padding-left: 0;
}

main .barra-lateral-izq nav {
    border-bottom: 1px solid #c7c8ca;
    padding-bottom: 20px;
}

main .barra-lateral-izq nav a {
    display: block;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    color: #3d3c3c;
}

main .barra-lateral-izq nav a:hover {
    background: #f2f2f2;
    text-decoration: none;
}
main .barra-lateral-izq nav a i{
    margin-right: 10px;
}

/* ************************************
    ESTILOS PARA CONTENIDO PRINCIPAL
**************************************/

/* ************************************
    ESTILOS PARA SECCION PUBLICAR
**************************************/
.main .contenido-principal .publicar{
    margin-bottom: 20px;
}
main .contenido-principal .publicar .foto{
    padding-left: 15px;
}
main .contenido-principal .publicar .foto a{
    width: 60px;
    height: 60px;
    display:inline-block;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 20px;
}
main .contenido-principal .publicar .foto img{
    width: 100%;
}
main .contenido-principal .publicar form textarea{
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    border:none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #565656;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
}
main .contenido-principal .publicar form .contenedor-botones{
    padding: 20px 0;
    border-bottom: 1px solid #c7c8ca;
}
main .contenido-principal .publicar form .contenedor-botones a{
    color: #8d8d8d;
    font-size: 20px;
    margin-right: 20px;
}
main .contenido-principal .publicar form .contenedor-botones a:hover{
    color: #3d3d3c;
}
main .contenido-principal .publicar form button{
    border: 1px solid #00609c;
    padding:5px 30px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    background: linear-gradient(to bottom, #1a87cd 0%, #1176b6 100%);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
main .contenido-principal .publicar form button:hover{
    background: linear-gradient(to bottom, #1176b6 100%, #1a87cd 0%);
}


/* ************************************
    ESTILOS PARA LAS PUBLICACIONES
**************************************/
main .publicacion{
    margin-bottom: 40px;
}

main .publicacion .foto{
    padding-left: 15px;
    margin-right: 15px;
}

main .publicacion .foto a{
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100px;
}
main .publicacion .foto a img{
    width: 100%;
}

main .publicacion .nombre{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-bottom:10px;
    display: inline-block;
}
main .publicacion .texto{
    background: #fff;
    color: #3d3c3c;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 15px;
}

main .publicacion .imagen{
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}

main .publicacion .imagen img{
    width: 100%;
}

main .publicacion .caja-botones{
    margin-bottom: 20px;
}

/* estilos para el boton like*/
main .publicacion .post .caja-botones button{
    background: #1176b6;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    display:inline-block;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
    border:none;
}
main .publicacion .post .caja-botones button:hover{
    background: #0d659d;
}
/* estilos para la cantidad de likes */
main .publicacion .post .caja-botones p{
    margin-bottom: 0;
    color: #1782c6;
}

/* Estilos para cada comentario de la publicacion */
main .publicacion .comentario{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d1d1;
}
/* Estilos para cada foto de los comentarios */
main .publicacion .comentario .foto{
    padding-left: 0;
    margin-right: 20px;
}
main .publicacion .comentario .foto a{
    display: inline-block;
    width: 40px;
    height: 40px;
}
/* Estilos para la caja de respuesta a la publicacion */
main .publicacion .comentario form textarea{
    width: 100%;
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #565656;
    padding: 8px;
    min-height: 40px;
    height: 40px;
    max-height: 60px;
    min-width: 100%;
    max-width: 100%;
    font-size: 14px;
}
main .publicacion .comentario .respuesta{
    font-size: 14px;
    margin-bottom: 10px;
}

main .publicacion .comentario .respuesta{
    font-size: 14px;
    margin-bottom: 10px;
}
main .publicacion .comentario .me-gusta{
    font-size: 13px;

}


/* ************************************
    ESTILOS PARA LA BARRA LATERAL DERECHA
**************************************/
main .barra-lateral-der h3{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
main .barra-lateral-der .ads{
    margin-bottom: 20px;
}
main .barra-lateral-der .ads a{
    margin-bottom: 15px;
    display: inline-block;
}
main .barra-lateral-der .ads a img{
    width: 100%;
}
/* Footer */
main .barra-lateral-der footer{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
main footer a{
    color: #1176b6;
    line-height: 14px;
    margin-right: 10px;
}
main footer .copyright{
    color: #919191;
    margin-top: 8px;
}

/* *********************
        MEDIAQUERIES
************************/
/* dispositivo tablet */
@media screen and (max-width:767px){
    /* estilos para el menu hamburguesa */
    main .btn-menu{
        display: block;
        border: 1px solid #00609c;
        padding: 5px 10px;
        font-size: 14px;
        background: linear-gradient(to bottom, #1a87cd 0%, #1176b6 100%);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align:center
    }
    main .btn-menu:hover{
        background: #0d659d;
        text-decoration: none;

    }	
    main .fondo-enlace {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		cursor: pointer;
		background: rgba(0,0,0,.5);
		z-index:99;
		display: none;
	}

	main .fondo-enlace.active {
		display: block;
	}

	main .barra-lateral-izq {
		width: 85%;
		position: fixed;
		background: rgba(0,0,0,.85);
		z-index: 100;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		height: 100vh;
		transform: translateX(-100%);
		transition: all .3s ease;
		overflow: scroll;
	}

	main .barra-lateral-izq.active {
		transform: translateX(0%);
	}

	main .barra-lateral-izq nav {
		border-bottom: none;
	}

	main .barra-lateral-izq nav a {
		padding: 20px;
		color: #fff;
	}

	main .barra-lateral-izq nav a:hover {
		color: #3d3c3c;
		background: #fff;
	}

/* tamaño dispositivo small tablet */
@media screen and (max-width: 575px) {
	header .menu {
		padding: 0 15px 15px 15px;
	}

	main .contenido-principal .publicar .foto a {
		width: 40px;
		height: 40px;
		margin:0;
	}

	main .publicacion .foto a {
		width: 40px;
		height: 40px;
	}
}
/* dispositivo movil */
@media screen and (max-width: 320px) {
	main .contenido-principal .publicar .foto {
		display: none;
	}
}